/* grid列表拖拽 */
.grid-container {
	display: grid;
	grid-template-columns: 33.3% 33.3% 33.3%;
	grid-template-rows: 33.3% 33.3% 33.3%;
}

.item-single {
	font-size: 1.5em;
	height: 77px;
	text-align: center;
	line-height: 85px;
	border: 1px solid #e5e4e9;
	cursor: move;
}

.item-cut {
	font-size: 1.5em;
	height: 77px;
	text-align: center;
	border: 1px solid #e5e4e9;
	cursor: move;
}

.item {
	font-size: 2em;
	text-align: center;
	line-height: 100px;
	border: 1px solid #e5e4e9;
	cursor: move;
	@media screen and (max-width: 750px) {
		line-height: 90px;
	}
}

.item-1 {
	background-color: #ef342a;
}

.item-2 {
	background-color: #f68f26;
}

.item-3 {
	background-color: #4ba946;
}

.item-4 {
	background-color: #0376c2;
}

.item-5 {
	background-color: #c077af;
}

.item-6 {
	background-color: #f8d29d;
}

.item-7 {
	background-color: #b5a87f;
}

.item-8 {
	background-color: #d0e4a9;
}

.item-9 {
	background-color: #4dc7ec;
}

.chosen {
	border: solid 2px #3089dc !important;
}