.wxMessage{
  height: 48px;
  width: 380px;
  overflow: hidden;
  position: absolute;
  top: 30px;
  transform: translateX(-50%);
  border-radius: 15px;
  left:50%;
  z-index: 10000;
  border:none;
  .content{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #f4f4f5;
      background: #f4f4f5;
  }
}
.wxMessageInfo{
  .content{
    color: #f4f4f5;
    background: rgba(244,244,245,0.6);
  }
}

.wxMessageSuccess{
  .content{
    color:#67c23a;
    background:rgba(95, 121, 82, 0.6);
  } 
}

.wxMessageWarning{
  .content{
    color:#e6a23c;
    background:rgba(230,162,60, 0.6);
  }
}

.wxMessageError{
  .content{
    color:#f56c6c;
    background:rgba(245,108,108,0.6);
  }
}