.wxMessage{
  width: 350px;
  height: 300px;
  overflow: hidden;
  position: absolute;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  left:50%;
  top: 50%;
  z-index: 10000;
  border:none;
  .content{
      height: 100%;
      color: #f4f4f5;
      background: #f4f4f5;
      padding-top:15px;
      .content_body{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
      }
      .icon{
        display: block;
        margin: 15px auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        box-sizing: content-box;
        background:no-repeat center/cover;
      }
  }
}
.wxMessageInfo{
  .content_body{
    // color: #f4f4f5;
    color:red
  }
  .icon{
    background-image:url(https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fhbimg.b0.upaiyun.com%2Fb18e0d85104baf60f46642195cabef87c614b1a6b6de-OiYWJZ_fw658&refer=http%3A%2F%2Fhbimg.b0.upaiyun.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1635069261&t=2ad41c66e0e0ee0716dcd9504a28c3d5) !important;
  }
}

.wxMessageSuccess{
  .content_body{
    color:#67c23a;
  }
}

.wxMessageWarning{
  .content{
    color:#e6a23c;
    // background:rgba(230,162,60, 0.6);
  }
}

.wxMessageError{
  .content{
    color:#f56c6c;
    // background:rgba(245,108,108,0.6);
  }
}