.route {
  .split-line {
    border: 1px solid #e4e4e4;
  }
  .table_com{
    height:calc(100% - 144px);
  }
  .seleced{
    margin:0 24px
  }
  .head-title {
    text-align: left;
    padding: 20px;
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    span {
      font-size: 16px;
      color: #333;
      font-family: "微软雅黑 Bold", "微软雅黑";
    }
  }
  .operate {
    display: flex;
    padding: 20px ;
    align-items: center;
    justify-content: space-between;
    .el-form {
      display: flex;
      align-items: center;
      .el-form-item {
        margin-bottom: 0;
        margin-right: 10px;
      }
      .el-input {
        width: 15vw;
      }
    }
    .btn {
      display: flex;
      .el-upload {
        margin-left: 10px;
      }
    }
  }
  // .data-list {
  //   height: calc(100vh - 258px);
  //   padding: 0 16px 16px;
  // }
  .data-list {
    position: relative;
    margin-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 23px;
    background: #ffffff;
    border-radius: 10px;
  }
}
