.user-list {
  // 用户列表
  height: 100%;
  .user-all {
    height: calc(100% - 55px);
    .all-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn {
        flex: 1;
      }
      .el-input {
        width: 200px;
        .el-input-group__append, .el-input-group__prepend {
          .el-button {
            padding: 0 10px;
          }
        }
      }
    }
    .all-list {
      height: calc(100% - 47px);
      display: flex;
      margin-top: 14px;
      .el-tree {
        width: 200px;
        height: 100%;
        padding: 12px 0;
        box-sizing: border-box;
        border-right: 1px solid #eee;
        background-color: transparent;
        color: white;
        .is-current, .el-tree-node__content:hover {
          color: #2b4175;
        }
      }
      .t-table {
        width: calc(100% - 200px);
        p {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 40px;
          color: white;
          padding: 0 8px;
        }
        .table {
          height: calc(100% - 92px);
        }
      }
    }
  }
  .black-user {
    height: calc(100% - 55px);
    .all-list {
      margin-top: 14px;
      height: calc(100% - 46px);
    }
  }
}